/* src/components/DraggableWord.scss */

$color: white;

.draggable-word {
  background: transparent;
  cursor: move;
  border: 2px solid $color;
  color: $color;
  height: 130px; /* 固定高度 */
  width: 130px; /* 固定宽度 */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  text-transform: uppercase;
  font-family: 'Muli-LightItalic', Helvetica;
  font-size: 20px;
  line-height: 30px;
  animation: ripple 1.5s linear infinite;
  transition: all 0.7s ease;
  position: relative;
  overflow: hidden;
}

.draggable-word:hover {
  transform: scale(1.1);
}

.draggable-word:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3),
      0 0 0 1px rgba($color, 0.3),
      0 0 0 3px rgba($color, 0.3),
      0 0 0 5px rgba($color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($color, 0.3),
      0 0 0 4px rgba($color, 0.3),
      0 0 0 20px rgba($color, 0),
      0 0 0 30px rgba($color, 0);
  }
}
