/* timer.css */

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  
  }
  
  .timer {
    font-size: 36px;
    font-weight: bold;
    color: white; /* 字体颜色 */
  }
  
  .toggle-button{
    font-family: 'Berkshire Swash', cursive;
    font-size: 16px;
    color: white;
    background-color: #7da0c7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }